@{
    ViewData["Title"] = "Home Page";
}

<div class="body">
    <div style="padding-bottom:20px"></div>
    <h2>Nellis Pod Shop Active Tracking List</h2>
    <div style="padding-bottom:50px;"></div>
    <div style="clear:both">
        <h4 class="hideHover" style="float:left">VIPER</h4>
        <h5 class="hide" style="float:left">64th AGRS / F-16</h5>
    </div>
    <hr/>
    <div>
        @using (Html.BeginForm())
        {
            <table class="table-responsive table-active table-hover text-center text-light">
                <thead>
                    <tr>
                        <th width="100px">Timestamp</th>
                        <th width="100px">Work Shift</th>
                        <th width="100px">Unit</th>
                        <th widht="100px">TDY</th>
                        <th width="125px">Aircraft Type</th>
                        <th width="100px">Tail NO</th>
                        <th width="100px">Aircraft Status</th>
                        <th width="100px">Pod NO</th>
                        <th width="100px">Weighted</th>
                        <th width="100px">DRD NO</th>
                        <th width="110px">Torque Wrench</th>
                        <th width="105px">Station</th>
                        <th width="130px">Exercise</th>
                        <th width="130px">Condition Code</th>
                        <th width="130px">Not Effective</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/1970</td>
                        <td>SHIFTTEST</td>
                        <td>UNITTEST</td>
                        <td>TDYTEST</td>
                        <td>AIRCRAFTTEST</td>
                        <td>TAILTEST</td>
                        <td>STATUSTEST</td>
                        <td>PODTEST</td>
                        <td>WEIGHTEDTEST</td>
                        <td>DRDTEST</td>
                        <td>TORQUETEST</td>
                        <td>STATIONTEST</td>
                        <td>EXERCISETEST</td>
                        <td>CONDITIONTEST</td>
                        <td>EFFECTIVETEST</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div style="padding-bottom:50px;"></div>
    <div style="clear:both">
        <h4 class="hideHover" style="float:left">TOMAHAWKS</h4>
        <h5 class="hide" style="float:left">16th WPS / F-16</h5>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <table class="table-responsive table-active table-hover text-center text-light">
                <thead>
                    <tr>
                        <th width="100px">Timestamp</th>
                        <th width="100px">Work Shift</th>
                        <th width="100px">Unit</th>
                        <th widht="100px">TDY</th>
                        <th width="125px">Aircraft Type</th>
                        <th width="100px">Tail NO</th>
                        <th width="100px">Aircraft Status</th>
                        <th width="100px">Pod NO</th>
                        <th width="100px">Weighted</th>
                        <th width="100px">DRD NO</th>
                        <th width="110px">Torque Wrench</th>
                        <th width="105px">Station</th>
                        <th width="130px">Exercise</th>
                        <th width="130px">Condition Code</th>
                        <th width="130px">Not Effective</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/1970</td>
                        <td>SHIFTTEST</td>
                        <td>UNITTEST</td>
                        <td>TDYTEST</td>
                        <td>AIRCRAFTTEST</td>
                        <td>TAILTEST</td>
                        <td>STATUSTEST</td>
                        <td>PODTEST</td>
                        <td>WEIGHTEDTEST</td>
                        <td>DRDTEST</td>
                        <td>TORQUETEST</td>
                        <td>STATIONTEST</td>
                        <td>EXERCISETEST</td>
                        <td>CONDITIONTEST</td>
                        <td>EFFECTIVETEST</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div style="padding-bottom:50px;"></div>
    <div style="clear:both">
        <h4 class="hideHover" style="float:left">THUNDER</h4>
        <h5 class="hide" style="float:left">66th WPS / A-10</h5>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <table class="table-responsive table-active table-hover text-center text-light">
                <thead>
                    <tr>
                        <th width="100px">Timestamp</th>
                        <th width="100px">Work Shift</th>
                        <th width="100px">Unit</th>
                        <th widht="100px">TDY</th>
                        <th width="125px">Aircraft Type</th>
                        <th width="100px">Tail NO</th>
                        <th width="100px">Aircraft Status</th>
                        <th width="100px">Pod NO</th>
                        <th width="100px">Weighted</th>
                        <th width="100px">DRD NO</th>
                        <th width="110px">Torque Wrench</th>
                        <th width="105px">Station</th>
                        <th width="130px">Exercise</th>
                        <th width="130px">Condition Code</th>
                        <th width="130px">Not Effective</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/1970</td>
                        <td>SHIFTTEST</td>
                        <td>UNITTEST</td>
                        <td>TDYTEST</td>
                        <td>AIRCRAFTTEST</td>
                        <td>TAILTEST</td>
                        <td>STATUSTEST</td>
                        <td>PODTEST</td>
                        <td>WEIGHTEDTEST</td>
                        <td>DRDTEST</td>
                        <td>TORQUETEST</td>
                        <td>STATIONTEST</td>
                        <td>EXERCISETEST</td>
                        <td>CONDITIONTEST</td>
                        <td>EFFECTIVETEST</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div style="padding-bottom:50px;"></div>
    <div style="clear:both">
        <h4 class="hideHover" style="float:left">STRIKE</h4>
        <h5 class="hide" style="float:left">17th WPS / F-15E</h5>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <table class="table-responsive table-active table-hover text-center text-light">
                <thead>
                    <tr>
                        <th width="100px">Timestamp</th>
                        <th width="100px">Work Shift</th>
                        <th width="100px">Unit</th>
                        <th widht="100px">TDY</th>
                        <th width="125px">Aircraft Type</th>
                        <th width="100px">Tail NO</th>
                        <th width="100px">Aircraft Status</th>
                        <th width="100px">Pod NO</th>
                        <th width="100px">Weighted</th>
                        <th width="100px">DRD NO</th>
                        <th width="110px">Torque Wrench</th>
                        <th width="105px">Station</th>
                        <th width="130px">Exercise</th>
                        <th width="130px">Condition Code</th>
                        <th width="130px">Not Effective</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/1970</td>
                        <td>SHIFTTEST</td>
                        <td>UNITTEST</td>
                        <td>TDYTEST</td>
                        <td>AIRCRAFTTEST</td>
                        <td>TAILTEST</td>
                        <td>STATUSTEST</td>
                        <td>PODTEST</td>
                        <td>WEIGHTEDTEST</td>
                        <td>DRDTEST</td>
                        <td>TORQUETEST</td>
                        <td>STATIONTEST</td>
                        <td>EXERCISETEST</td>
                        <td>CONDITIONTEST</td>
                        <td>EFFECTIVETEST</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div style="padding-bottom:50px;"></div>
    <div style="clear:both">
        <h4 class="hideHover" style="float:left">EAGLE</h4>
        <h5 class="hide" style="float:left">433rd WPS / F-15C</h5>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <table class="table-responsive table-active table-hover text-center text-light">
                <thead>
                    <tr>
                        <th width="100px">Timestamp</th>
                        <th width="100px">Work Shift</th>
                        <th width="100px">Unit</th>
                        <th widht="100px">TDY</th>
                        <th width="125px">Aircraft Type</th>
                        <th width="100px">Tail NO</th>
                        <th width="100px">Aircraft Status</th>
                        <th width="100px">Pod NO</th>
                        <th width="100px">Weighted</th>
                        <th width="100px">DRD NO</th>
                        <th width="110px">Torque Wrench</th>
                        <th width="105px">Station</th>
                        <th width="130px">Exercise</th>
                        <th width="130px">Condition Code</th>
                        <th width="130px">Not Effective</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/1970</td>
                        <td>SHIFTTEST</td>
                        <td>UNITTEST</td>
                        <td>TDYTEST</td>
                        <td>AIRCRAFTTEST</td>
                        <td>TAILTEST</td>
                        <td>STATUSTEST</td>
                        <td>PODTEST</td>
                        <td>WEIGHTEDTEST</td>
                        <td>DRDTEST</td>
                        <td>TORQUETEST</td>
                        <td>STATIONTEST</td>
                        <td>EXERCISETEST</td>
                        <td>CONDITIONTEST</td>
                        <td>EFFECTIVETEST</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div style="padding-bottom:50px;"></div>
    <div style="clear:both">
        <h4 class="hideHover" style="float:left">DRAKEN</h4>
        <h5 class="hide" style="float:left">DRKN / L-159</h5>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <table class="table-responsive table-active table-hover text-center text-light">
                <thead>
                    <tr>
                        <th width="100px">Timestamp</th>
                        <th width="100px">Work Shift</th>
                        <th width="100px">Unit</th>
                        <th widht="100px">TDY</th>
                        <th width="125px">Aircraft Type</th>
                        <th width="100px">Tail NO</th>
                        <th width="100px">Aircraft Status</th>
                        <th width="100px">Pod NO</th>
                        <th width="100px">Weighted</th>
                        <th width="100px">DRD NO</th>
                        <th width="110px">Torque Wrench</th>
                        <th width="105px">Station</th>
                        <th width="130px">Exercise</th>
                        <th width="130px">Condition Code</th>
                        <th width="130px">Not Effective</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/1970</td>
                        <td>SHIFTTEST</td>
                        <td>UNITTEST</td>
                        <td>TDYTEST</td>
                        <td>AIRCRAFTTEST</td>
                        <td>TAILTEST</td>
                        <td>STATUSTEST</td>
                        <td>PODTEST</td>
                        <td>WEIGHTEDTEST</td>
                        <td>DRDTEST</td>
                        <td>TORQUETEST</td>
                        <td>STATIONTEST</td>
                        <td>EXERCISETEST</td>
                        <td>CONDITIONTEST</td>
                        <td>EFFECTIVETEST</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div style="padding-bottom:50px;"></div>
    <div style="clear:both">
        <h4 class="hideHover" style="float:left">FALCON</h4>
        <h5 class="hide" style="float:left">422 TES / F-16</h5>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <table class="table-responsive table-active table-hover text-center text-light">
                <thead>
                    <tr>
                        <th width="100px">Timestamp</th>
                        <th width="100px">Work Shift</th>
                        <th width="100px">Unit</th>
                        <th widht="100px">TDY</th>
                        <th width="125px">Aircraft Type</th>
                        <th width="100px">Tail NO</th>
                        <th width="100px">Aircraft Status</th>
                        <th width="100px">Pod NO</th>
                        <th width="100px">Weighted</th>
                        <th width="100px">DRD NO</th>
                        <th width="110px">Torque Wrench</th>
                        <th width="105px">Station</th>
                        <th width="130px">Exercise</th>
                        <th width="130px">Condition Code</th>
                        <th width="130px">Not Effective</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/1970</td>
                        <td>SHIFTTEST</td>
                        <td>UNITTEST</td>
                        <td>TDYTEST</td>
                        <td>AIRCRAFTTEST</td>
                        <td>TAILTEST</td>
                        <td>STATUSTEST</td>
                        <td>PODTEST</td>
                        <td>WEIGHTEDTEST</td>
                        <td>DRDTEST</td>
                        <td>TORQUETEST</td>
                        <td>STATIONTEST</td>
                        <td>EXERCISETEST</td>
                        <td>CONDITIONTEST</td>
                        <td>EFFECTIVETEST</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>